{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}
  {% trans "Sign In" %}
{% endblock %}


{% block content %}
  <div class="w-full max-w-md mx-auto mt-10">
    <div class="window">
      <div class="title-bar">
        <div class="title-bar-text">
          {% trans "Sign In" %}
        </div>
        <div class="title-bar-controls">
          <button aria-label="Minimize">
          </button>
          <button aria-label="Maximize">
          </button>
          <button aria-label="Close">
          </button>
        </div>
      </div>
      <div class="window-body font-mono">
        <p class="mb-3 text-base">
          {% blocktrans %}If you have not created an account yet, then please
      <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
        </p>

        <form class="login text-lg"
              method="POST"
              action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
            <input type="hidden"
                   name="{{ redirect_field_name }}"
                   value="{{ redirect_field_value }}" />
          {% endif %}
          <div class="field-row mb-3 mt-2">
            <button class="px-4 py-2 font-mono text-lg border-2 border-black bg-white text-black tracking-widest font-bold hover:bg-blue-800 hover:text-white transition duration-300"
                    type="submit">
              {% trans "Sign In" %}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
