{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}
  {% trans "Change Password" %}
{% endblock %}


{% block content %}
  <div class="w-full max-w-md mx-auto mt-10">
    <div class="window">
      <div class="title-bar">
        <div class="title-bar-text">
          {% trans "Change Password" %}
        </div>
        <div class="title-bar-controls">
          <button aria-label="Minimize">
          </button>
          <button aria-label="Maximize">
          </button>
          <button aria-label="Close">
          </button>
        </div>
      </div>
      <div class="window-body font-mono text-base">
        <form method="POST"
              action="{% url 'account_change_password' %}">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="field-row">
            <button class="px-4 py-2 mt-2 font-mono text-lg border-2 border-black bg-white text-black tracking-widest font-bold hover:bg-blue-800 hover:text-white transition duration-300"
                    type="submit">
              {% trans 'Change Password' %}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
