{% extends 'base.html' %}
{% load static %}

{% block title %}About Us{% endblock title %}

{% block header %}About Our Project{% endblock header %}

{% block content %}

<link rel="stylesheet" href="https://unpkg.com/98.css/dist/98.css" />

<div class="window mx-auto max-w-3xl mt-5">
  <div class="title-bar">
    <div class="title-bar-text">Meet the Team</div>
    <div class="title-bar-controls">
      <button aria-label="Minimize"></button>
      <button aria-label="Maximize"></button>
      <button aria-label="Close"></button>
    </div>
  </div>
  <div class="window-body font-serif p-4">
    <h3 class="text-lg font-semibold mt-2 mb-3">What We Do</h3>
    <ul class="text-md list-disc list-inside mb-4">
      <li>Showcase the achievements of women in tech in timeline.</li>
      <li>Provide valuable tech tips to empower women in their careers.</li>
      <li>Bridge the mentorship gap by connecting mentees with experienced mentors.</li>
    </ul>
    <!-- Team Members Section -->
    <div class="max-w-4xl mx-auto mt-5 mb-3">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
            {% for member in members %}
            <div class="bg-white border-2 border-black p-4">
                {% if member.image %}
                <img src="{% static member.image %}" alt="{{ member.name }}" class="border border-black h-40 w-40 object-cover mb-4">
                {% else %}
                {% endif %}
                <h3 class="text-xl font-bold">{{ member.name }}</h3>
                <p class="text-gray-700 font-semibold">{{ member.role }}</p>
                <p class="mt-2 text-sm">{{ member.bio }}</p>

                <!-- GitHub Link -->
                {% if member.github %}
                <p class="mt-5 flex justify-between">
                    <a href="{{ member.github }}" target="_blank" class="w-1/3 px-4 py-2 text-lg border border-black bg-blue-600 text-white hover:bg-blue-700 transition duration-300 inline-block">
                        GitHub
                    </a>
                <!-- Linkedin Link -->
                    <a href=" {{ member.linkedin }}" target="_blank" class="w-1/3 px-4 py-2 text-lg border border-black bg-blue-600 text-white hover:bg-blue-700 transition duration-300 inline-block">
                        LinkedIn
                    </a>
                </p>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock content %}
