{% extends 'base.html' %}
{% load static %}

{% block title %}About Us{% endblock title %}

{% block header %}About Our Team{% endblock header %}

{% block content %}
<div class="bg-blue-500 shadow overflow-hidden sm:rounded-lg p-6">
    <p class="text-white mb-4">
        Our team is dedicated to honoring women in tech through creative projects and a retro-inspired timeline. We’re passionate about celebrating innovation, collaboration, and diversity in the tech community.
    </p>
    <p class="text-white">
        We believe that the stories of women in tech deserve to be told, and our project is just the beginning. Join us on this journey as we explore the past, present, and future of technology.
    </p>
</div>
{% endblock content %}