:root {
  --primary-color: #000080;
  --secondary-color: #87cefa;
  --text-color: white;
}

.gradient-bg {
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  ) !important;
  color: var(--text-color) !important;
}
