{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Hackathon{% endblock %}</title>

    {% tailwind_css %}

    {% block extra_css %}{% endblock %}

</head>
<body class="bg-gray-500 min-h-screen">
    <main>
        <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
            {% block content %}{% endblock %}
        </div>
    </main>
    {% block javascript %}
    <script src="{% static 'js/script.js' %}"></script>
    <script src="../node_modules/flyonui/flyonui.js"></script>
    {% endblock %}
</body>
</html>