{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Hackathon{% endblock %}</title>

    {% tailwind_css %}

    {% block extra_css %}{% endblock %}

</head>
<body class="bg-gray-500 min-h-screen {% if user.is_authenticated %}user-logged-in{% endif %}">
    
  <header>
    <nav class="navbar bg-[#000080] text-white border-t border-gray-300 shadow-md px-6 py-4 font-mono text-sm"">
      <div class="w-full md:flex md:items-center md:gap-2">
        <div class="flex items-center justify-between">
          <div class="navbar-start items-center justify-between max-md:w-full">
            <a class="link text-base-content link-neutral text-xl font-semibold no-underline" href="#">404 GGNF</a>
            <div class="md:hidden">
              <button type="button" class="collapse-toggle btn btn-outline btn-secondary btn-sm btn-square" data-collapse="#default-navbar-collapse" aria-controls="default-navbar-collapse" aria-label="Toggle navigation" >
                <span class="icon-[tabler--menu-2] collapse-open:hidden size-4"></span>
                <span class="icon-[tabler--x] collapse-open:block hidden size-4"></span>
              </button>
            </div>
          </div>
        </div>
        <div id="navbar bg-[#000080]-collapse" class="md:navbar-end collapse hidden grow basis-full overflow-hidden transition-[height] duration-300 max-md:w-full" >
          <ul class="menu md:menu-horizontal gap-4 px-8 text-base max-md:mt-2">
            <li><a href="#">Home</a></li><br>
            <li><a href="#">About</a></li><br>
            <li><a href="#">Login</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header> 


  <main>
        <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
            {% block content %}{% endblock %}
        </div>
    </main>


    <footer class="footer footer-center bg-[#000080] text-white border-t border-gray-300 shadow-md px-6 py-4 font-mono text-sm">
      <aside>
        <p>Copyright &copy; 404 Gender Gap Not Found - Since 1900 - All rights reserved.</p>
      </aside>
    </footer>

    {% block javascript %}
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/flyonui.js' %}"></script>
    {% endblock %}
</body>
</html>
